.block-departments {
  background-color: #f0f0f0;

  &.bg-fight {
    background-image: url(bg-fight.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(5px);
  }


  &-head {
    padding: 10px 0;
    margin-bottom: 20px;

    .link {
      font-size: 20px;
      margin-left: 20px;
    }

    &-brand {
      opacity: .95;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #283546;
      color: #fcd50f;
      width: 470px;
      height: 110px;
      padding: 10px 20px;
      font-size: 15px;
      margin-top: 8px;

      h1 {
        color: white;
        font-size: 48px;
        font-weight: bold;
        line-height: 70px;
      }
    }
  }

  &-body {
    display: flex;
  }

  &-aside {
    width: 190px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-sticky-block {
      width: 158px;
      height: 158px;
      background-color: white;
      position: sticky;
      top: 148px;
    }

    .accordion {
      width: 100%;
    }
  }

  &-main {
    flex: 1 1 auto;
    padding: 0 20px;
    /* Fix swiper auto width issue */
    min-width:0;
  }

  &-videos {
    display: flex;
  }

  &-video-player {
    &-tag {
      width: 110px;
      background-color: white;
      color: black;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 15px;
    }
  }

  &-thumb-list {
    margin-left: 20px;
    padding-top: 20px;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }

  &-thumb {
    width: 160px;
    height: 110px;
    background-color: black;
    backdrop-filter: blur(3px);
    margin-top: 18px;
    padding: 5px;

    &-content {
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      &:after {
        display: block;
        content: 'FIGHT!';
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        font-style: oblique;
        margin-top: 4px;
      }
    }

    &-title {
      text-align: center;
      padding-top: 28px;

      .major{
        color: #fcd50f;
        font-size: 22px;
        font-weight: bold;

        &.text-sm {
          font-size: 15px;
        }
      }

      .vs {
        color: black;
        font-size: 22px;
        font-style: oblique;
        margin: 0 5px;
        text-shadow:
        -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
          1px 1px 0 #fff;

        &.text-sm {
          font-size: 12px;
          margin: 0 3px;
        }
      }
    }


    &-fight {
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      font-style: oblique;
      margin-top: 8px;
    }
  }

  &-card {
    &-head {
      opacity: 0.9;
      background-color: #283546;
      color: white;
      font-size: 16px;
      padding: 8px 15px;
      font-weight: bold;
      ul {
        padding: 0;
        list-style: none;
        display: inline-block;
        margin-bottom: 0;

        li {
          display: inline-block;

          &:after {
            content: '、';
          }

          &:last-child {
            &:after {
              content: '';
              display: none;
            }
          }

          a {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }

    &-body {
      background-color: #fff;
      backdrop-filter: blur(4px);
      color: #5f5b5e;
      font-size: 16px;
      font-weight: bold;
      padding: 15px;

      p {
        padding-bottom: 18px;
      }
    }

    &-footer {
      background-color: #ca2026;
      opacity: 0.9;
      font-size: 30px;
      font-weight: bold;
      color: white;
      padding: 15px;

      span {
        padding: 0 20px;
      }
    }
  }

  &-anchors-nav {
    margin: 30px 0;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        width: 248px;
        border: 2px solid white;
        text-align: center;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        backdrop-filter: blur(30px);

        a {
          color: #fcd50f;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-experience,
  &-suggestion,
  &-oversea {
    // FIXME: For demo scroll to
    min-height: 600px;

    .title {
      display: inline-block;
      padding-bottom: 4px;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 4px solid #ca2026;
    }

    .sub-title {
      font-size: 15px;
      font-weight: 300;
      font-style: oblique;
    }
  }

  .offset-anchor {
    display: block;
    position: relative;
    top: -160px;
    visibility: hidden;
  }
}
