.block-index-list-explore {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;

  .block-index-list-explore-avatar {
    flex: 0 0 110px;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .block-index-list-explore-avatar-tags {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      font-size: 10px;
      font-weight: bold;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 0 3px;
    }
  }

  .block-index-list-explore-body {
    flex: 1;
    padding: 20px 10px 5px 10px;

    p {
      color: #434242;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      text-align: center;

      &::before {
        content: '“';
        font-family: sans-serif;
        position: absolute;
        font-size: 45px;
        color: #ca2026;
        top: -40px;
        left: -10px;
      }

      &::after {
        content: '”';
        font-family: sans-serif;
        max-height: 30px;
        position: absolute;
        font-size: 45px;
        color: #ca2026;
        bottom: -25px;
        right: -10px;
      }
    }

    li {
      line-height: 1;
      text-align: center;

      a {
        font-size: 12px;
        color: #95989a;
        font-weight: bold;
      }
    }
  }
}

.block-index-list-explore-upright {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;

  .block-index-list-explore-body-upright {
    position: relative;
    flex: 1;
    padding: 7px 6px;

    p {
      color: #434242;
      font-size: 14px;
      font-weight: bold;

      &::before {
        content: '“';
        font-family: sans-serif;
        position: absolute;
        font-size: 45px;
        color: #ca2026;
        top: -20px;
        left: 0;
      }

      &::after {
        content: '”';
        font-family: sans-serif;
        max-height: 30px;
        position: absolute;
        font-size: 45px;
        color: #ca2026;
        bottom: 38px;
        right: 0px;
      }
    }

    li:first-child {
      a {
        font-size: 10px;
      }
    }

    li {
      line-height: 1;
      text-align: left;

      a {
        font-size: 8px;
        color: #95989a;
        font-weight: bold;
      }
    }
  }
}

.block-index-feature-school {
  position: relative;

  img {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    object-fit: cover;
  }

  .feature-school-header {
    position: absolute;
    width: 100%;
    bottom: 3px;
    text-align: center;
    line-height: 1;

    a {
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 0 5px;
      line-height: 1;
      height: 14px;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-index-head-news-card {
  margin-bottom: 15px;
  background-color: white;

  .block-index-head-news-card-head {
    position: relative;

    &:before {
      content: '“';
      line-height: 1;
      font-size: 100px;
      font-weight: bold;
      position: absolute;
      top: -15px;
      left: 0;
      color: #ca2026;
      z-index: 1;
      font-family: sans-serif;
    }

    &:after {
      content: '”';
      line-height: 1;
      position: absolute;
      bottom: -70px;
      right: 0;
      color: #ca2026;
      font-size: 100px;
      font-weight: bold;
      z-index: 1;
      font-family: sans-serif;
    }

    a {
      display: block;
      height: 100%;
      line-height: 1;
    }

    .block-index-head-news-card-head-title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 280px;
      margin: 0 auto;
      width: 100%;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      font-size: 28px;
      font-weight: bold;
      color: white;
      line-height: 1.3;
    }

    .block-index-head-news-card-head-image {
      filter: brightness(0.7);
    }

    .block-index-head-news-card-head-tags {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
      margin-top: 25px;
      font-family: $font-family-sans-serif;

      .block-index-head-news-card-head-tag
        + .block-index-head-news-card-head-tag {
        margin-left: 0.5rem;
        display: inline-block;
      }
    }
  }

  .block-index-head-news-card-body {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #625e61;

    p + p {
      margin-bottom: 0;
    }
  }

  .block-index-head-news-card-actions {
    text-align: right;
    padding: 3px;

    .block-index-head-news-card-actions-link {
      font-size: 12px;
      font-weight: bold;
      color: #95989a;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.block-index-list-article {
  .block-index-list-article-thumbnail {
    position: relative;

    img {
      min-height: 110px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .block-index-list-article-thumbnail-tags {
      padding: 3px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.16);
      font-size: 10px;
      font-weight: bold;
      color: white;
    }
  }

  li {
    font-size: 12px;
    line-height: 1.7;
    color: #625e61;
    font-weight: bold;
  }

  .block-index-list-article-summary {
    font-size: 14px;
    font-weight: bold;
    color: #625e61;
  }

  .block-index-list-article-view-counts {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: #95989a;
  }
}

.block-index-more-news {
  a {
    font-size: 12px;
    color: #95989a;
    font-weight: bold;
  }
}

.block-index-header {
  display: table;
  margin: 0 auto;
  color: #434242;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #ca2026;
}
