.block-news {
  h1 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
  }

  .post {
    .head {
      p {
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
}

.block-news-mobile {
  &.container {
    margin-top: 19px;
    padding: 0 6px;
  }

  .block-news-category-dropdown {
    font-size: 18px;
    font-weight: bold;
    border: 2px solid color(gray);
    background-color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    i {
      transition: all 0.3s;
      transform: rotate(0deg);
    }

    &:not(.collapsed) {
      i {
        transform: rotate(90deg);
      }
    }
  }

  .block-news-category-links {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-auto-rows: 1fr;
  }

  .block-news-category-link {
    background-color: white;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid color(gray);
    padding: 3px;

    a {
      text-align: center;
      color: black;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
