.block-news-mobile {
  .container {
    @include media-breakpoint-down(sm) {
      margin-top: 19px;
      padding: 0 6px;
    }
  }

  .block-news {
    h1 {
      margin: 10px 0;
      font-size: 22px;
      font-weight: bold;
      line-height: 40px;
    }

    .post {
      .head {

        p {
          margin-bottom: 10px;
        }

        h2 {
          margin-bottom: 10px;
          font-size: 32px;
          font-weight: bold;
        }
      }
    }
  }

  .block-news-category-dropdown {
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #625e61;
    background-color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    i {
      transition: all 0.3s;
      transform: rotate(0deg);
    }

    &:not(.collapsed) {
      i {
        transform: rotate(90deg);
      }
    }
  }

  .block-news-category-links {
    display: grid;
    grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    // grid-template-rows: 30px;
    margin-bottom: 10px;
  }

  .block-news-category-link-1,
  .block-news-category-link-2,
  .block-news-category-link-3,
  .block-news-category-link-4 {
    background-color: white;
    overflow: hidden;

    a {
      border: 2px solid #625e61;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px;
      color: black;
      font-size: 14px;
      font-weight: bold;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .block-news-category-link-1 {
    grid-column-start: 1;
  }

  .block-news-category-link-2 {
    grid-column-start: 3;
  }

  .block-news-category-link-3 {
    grid-column-start: 5;
  }

  .block-news-category-link-4 {
    grid-column-start: 7;
  }
}
