.block-news {
  h1 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
  }

  .post {
    .head {

      p {
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
}
