/**
 * index
 */
.school {
  font-size: 14px;
  a {
    color: color(major);
    &:hover {
      text-decoration: underline;
    }
  }
}

.introduce {
  font-size: 14px;
  margin-top: 10px;
}


/**
 * keyword_first
 */
