/**
 * index
 */
.school {
  font-size: 14px;
  a {
    color: color(major);
    &:hover {
      text-decoration: underline;
    }
  }
}

.introduce {
  font-size: 14px;
  margin-top: 10px;
}


/**
 * keyword_first
 */


/**
 * lecturers
 */
.lecturers {
  float: left;
  margin-bottom: 35px;

  .list-inline {
    padding: 5.5px;
    margin: 6px;

    &:hover {
      background-color: #eeeeee;
    }
  }

  li {
    float: left;
  }

  .lecturer {
    position: relative;

    .info {
      font-size: 12px;
      text-shadow: #000 0.1em 0.1em 0.2em;
      position: absolute;
      color: white;
      bottom: 0%;
      height: 37%;
      width: 100%;
      background-color:rgba(0, 0, 0, 0.5);
      text-align: center;

      p {
        margin: 0;
        padding-top: 6px;
      }

      &:hover {
        background:rgba(0, 0, 0, 0.7);
      }
    }
  }
}
