.taiwan-departments-quote {
  margin: 17px 0 23px;

  p {
    font-size: 16px;
    font-weight: bold;
    color: color(dark-gray);
  }
}

.block-eighteen-dropdown {
  background-size: cover;
  width: 100%;
  min-height: 65px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  filter: grayscale(100%);

  &.open {
    filter: none;
  }
}

.block-schools-dropdown {
  cursor: pointer;
  background-color: color(gray);
  font-size: 18px;
  color: white;
  border: none;
  font-weight: bold;
  padding: 2px 6px;
  margin: 5px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    transition: all 0.3s;
    transform: rotate(0deg);
  }

  &:not(.collapsed) {
    i {
      transform: rotate(90deg);
    }
  }
}

.block-school-links-mobile {
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr;

  .block-school-links-mobile-1 {
    grid-column-start: 1;
    overflow: hidden;
  }

  .block-school-links-mobile-2 {
    grid-column-start: 3;
    overflow: hidden;
  }

  .block-school-links-mobile-3 {
    grid-column-start: 5;
    overflow: hidden;
  }
}

.block-area-dropdown {
  background-size: cover;
  background-position: center;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  filter: grayscale(100%);
  margin-bottom: 15px;

  i {
    transition: all 0.3s;
    transform: rotate(0deg);
  }

  &:not(.collapsed) {
    filter: none;

    i {
      transform: rotate(90deg);
    }
  }
}

.block-onoffswitch-category {
  .block-onoffswitch-category-label {
    font-size: 14px;
    font-weight: bold;
    color: color(dark-gray);
    background-color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    cursor: pointer;
  }

  .onoffswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    user-select: none;

    .onoffswitch-checkbox {
      display: none;
    }

    .onoffswitch-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      margin: 0;
    }

    .onoffswitch-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 27px;
      padding: 0;
      line-height: 27px;
      font-size: 7px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
    }

    .onoffswitch-inner:before {
      content: 'ON';
      padding-left: 10px;
      background-color: color(major);
      color: white;
    }

    .onoffswitch-inner:after {
      content: 'OFF';
      padding-right: 10px;
      background-color: color(light-gray);
      color: white;
      text-align: right;
    }

    .onoffswitch-switch {
      display: block;
      width: 22px;
      height: 22px;
      margin: 2.5px;
      background: white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 32px;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px;
    }
  }

  .block-onoffswitch-content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-auto-rows: 1fr;
    padding: 0 0 15px;

    .block-onoffswitch-category-link {
      background-color: color(light-gray);
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      a {
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
