.mobile-talk-show {
  .talk-show-card {
    background-image: url('http://www.cmlab.csie.ntu.edu.tw/~chenhsiu/photos/ntu/IMGP0604.JPG');
    object-fit: contain;
    height: 500px;

    .talk-show-card-avatar {
      text-align: center;
      img {
        background-color: white;
        padding: 4px;
        width: 133px;
        height: 133px;
      }
    }

    p {
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
  }
  @include media-breakpoint-down(sm) {
    section {
      p {
        font-size: 14px;
        color: #625e61;
        margin-bottom: 30px;
        line-height: 28px;
      }
    }

    h3 {
      font-size: 22px;
      color: #ca2026;
      font-weight: bold;
      text-align: center;
    }

    h4 {
      font-size: 14px;
      text-decoration: underline;
      color: #ca2026;
      margin: 30px 0;
      font-weight: bold;
    }
  }

  h5 {
    color: #993300;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      font-weight: bold;
      color: #ca2026;
    }
  }

  .talk-show-card-body {
    opacity: 0.85;
  }

  .talk-goal {
    position: relative;
    p {
      line-height: 40px;
      background-color: #ca2026;
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-align: center;

      &::before {
        content: "“";
        max-height: 30px;
        position: absolute;
        font-size: 60px;
        top: 0;
        left: 0;
      }

      &::after {
        content: "”";
        max-height: 30px;
        position: absolute;
        font-size: 60px;
        bottom: -20px;
        right: 0px;
      }
    }
  }

  .talk-show-card-info {
    background-color: white;
    padding: 17px 14px 5px;

    p {
      color: #434242;
      font-size: 14px;
    }
  }

  .talks_more_share {
    background-color: white;
    padding: 17px 0;
  }

  .block-talks-show {
    color: color(dark);

    p {
      color: #666666;
      line-height: 1.8;
    }
  }

  .mobile-talk-show-nav {
    li {
      margin-bottom: 5px;
      padding: 2.5px;

      a {
        color: #434242;
        font-weight: bold;
        font-size: 12px;
        padding: 4px 0;
        line-height: 2;
      }
    }
  }

  .mobile-talk-show-list {
    li {
      border: 3px solid #ca2026;
      background-color: #ca2026;
      margin-bottom: 9px;
      padding: 7px;
      font-size: 12px;
      text-align: center;
      font-weight: bold;

      a {
        color: #ffffff;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      padding: 0;
    }
  }
} // /.block-talks-show

$custom-gutter-width: 10px; // 將欄距改成 10px
.block-show-more-talks {
  .row {
    margin-left: -($custom-gutter-width / 2);
    margin-right: -($custom-gutter-width / 2);
  }

  .col-md {
    padding-left: $custom-gutter-width / 2;
    padding-right: $custom-gutter-width / 2;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: white;

    .title-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px;
      margin: 0 5px 5px;
      text-shadow: #000 0.1em 0.1em 0.2em;
    }

    &:hover {
      background-color: #eee;

      .title-overlay {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  } // /a
} // /.block-show-more-talks

.block-talks {
  @include media-breakpoint-down(sm) {
    &.container {
        padding-left: $custom-gutter-width / 2;
        padding-right: $custom-gutter-width / 2;
    }

    .row {
      margin-left: -($custom-gutter-width / 2);
      margin-right: -($custom-gutter-width / 2);
    }

    [class*="col-md"] {
      padding-left: $custom-gutter-width / 2;
      padding-right: $custom-gutter-width / 2;
    }
  }
}

.onofflabel {
  position: relative;

  > label {
    line-height: 34px;
    padding-left: 10px;
  }
}

.onoffswitch {
  position: absolute;
  top: 3.5px;
  right: 3px;
  display: inline-block;
  width: 60px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.onoffswitch-content {
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  margin: 0;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 27px;
  padding: 0;
  line-height: 27px;
  font-size: 7px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #CA2026;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #95989A;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 22px;
  height: 22px;
  margin: 2.5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
