button(
  type="button"
  class="btn btn-gotop d-inline-flex align-items-center justify-content-center"
  data-action="gotop"
)
  = image_tag 'https://i2.wp.com/ioh.tw/assets/howtoapply-top-button.png'

