
.btn-gotop {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 60px;
  right: 90px;
  background-color: transparent;
  opacity: 0;
  cursor: default !important;
  pointer-events: none;
  transition: opacity 0.3s;

  @include media-breakpoint-down(xs) {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.show {
    cursor: pointer !important;
    pointer-events: auto;
    opacity: 1;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-gotop-light {
  background-color: white;
  min-width: 170px;
  display: inline-flex;

  span {
    flex: 1;
    text-align: center;
  }

  .icon-angle-arrow-up {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyODQuOSAyODQuOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkgMjg0Ljk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojQ0EyMDI2O308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yLjgsMjA4LjRsMTQuMywxNC4zYzEuOSwxLjksNC4xLDIuOSw2LjYsMi45YzIuNSwwLDQuNy0wLjksNi42LTIuOWwxMTIuMi0xMTIuMmwxMTIuMiwxMTIuMmMxLjksMS45LDQuMSwyLjksNi42LDIuOWMyLjUsMCw0LjctMC45LDYuNi0yLjlsMTQuMy0xNC4zYzEuOS0xLjksMi45LTQuMSwyLjktNi42YzAtMi41LTEtNC43LTIuOS02LjZsLTEzMy0xMzNjLTEuOS0xLjktNC4xLTIuOS02LjYtMi45cy00LjcsMS02LjYsMi45TDIuOCwxOTUuM2MtMS45LDEuOS0yLjgsNC4xLTIuOCw2LjZDMCwyMDQuMywwLjksMjA2LjUsMi44LDIwOC40eiIvPjwvZz48L3N2Zz4=);
  }
}
