.carousel-wrapper {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 55%;
    background-color: #bdbdbd;
    border-radius: 50%;
    box-shadow: 0px 0px 1px #95989a;
  }

  .carousel-item {
    max-width: 100%;
    min-height: 210px;

    img {
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  @include media-breakpoint-down(md) {
    .carousel-item {
      min-height: unset;
    }

    &.container {
      padding: 0;
    }
  }
}
