.nav-pills-ioh {
  margin: 40px 0;

  a {
    color: color(major);
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-pills-item {
    border: 1px solid color(major);

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-pills-item-bg {
    border: 1px solid color(major);
    background-color: color(major);
    color: white;

    &:hover {
      color: color(major);
      background: white;
    }
  }
}

.school {
  font-size: 14px;
  a {
    color: color(major);
    &:hover {
      text-decoration: underline;
    }
  }
}

.introduce {
  font-size: 14px;
  margin-top: 10px;
}
