$magazine-major: #c30d23;
$magazine-minor: #e50012;

.magazine {
  font-family: Helvetica, Arial, sans-serif;
  color: color(dark);

  section {
    position: relative;
  }

  a {
    color: $magazine-major;

    &:hover {
      text-decoration: none;
    }
  }

  .magazine-country-name {
    position: absolute;
    font-weight: 700;
    color: white;
    font-size: 10rem;
    top: -20px;
    right: -10px;
    line-height: 1;
  }

  .magazine-menu {
    color: $magazine-major;
    text-shadow: 2px -3px 20px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    line-height: 1;

    .magazine-menu-page-number {
      font-size: 6rem;
    }

    .magazine-menu-page-title {
      font-size: 2rem;
    }

    .magazine-menu-page-subtitle-list {
      font-size: 13px;
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
      }
    }

    .magazine-menu-btn {
      background-color: $magazine-major;
      color: white;
      padding: 3px 1rem;
      text-align: center;
      border-radius: 0;
      font-size: 13px;
    }
  } // /.magazine-menu

  .magazine-country-map {
  }

  .magazine-info {
    font-size: 13px;

    .magazine-info-title {
      color: $magazine-minor;
      font-size: inherit;

      &:before, &:after {
        content: "|";
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .magazine-info-subtitle {
      font-size: 14px;
      font-weight: 700;
    }

    .magazine-info-list {
      line-height: 2;
      padding-left: 0;
      list-style: none;

      li ul {
        list-style-type: disc;
      }
    }

    .magazine-info-btn {
      color: $magazine-minor;
      border: 1px solid $magazine-minor;
      font-size: 11px;
      padding: 2px;
      border-radius: 2px;

      &:hover {
        background: $magazine-minor;
        color: white;
      }
    }

    .magazine-info-keywords {
      width: 50%;
      border-left: 4px solid $magazine-minor;
      border-right: 4px solid $magazine-minor;
      padding: 1rem;
      color: $magazine-minor;
      background: white;
    }
  }

  $custom-gutter-width: 10px; // 將欄距改成 10px
  .custom-gutters-10px {
    .row {
      margin-left: -($custom-gutter-width / 2);
      margin-right: -($custom-gutter-width / 2);
    }

    .col {
      padding-left: $custom-gutter-width / 2;
      padding-right: $custom-gutter-width / 2;
    }
  }
}
