.nav-pills-ioh {
  li {
    border-left: 1px solid #fff;
    margin-bottom: 5px;

    @include media-breakpoint-down(sm) {
      padding: 2.5px;
    }
  }

  a {
    color: color(major);
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
      color: #434242;
      font-weight: bold;
    }
  }

  .nav-pills-item {
    border: 1px solid color(major);

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-pills-item-active {
    border: 1px solid color(major);
    background-color: color(major);
    color: white;

    &:hover {
      color: color(major);
      background: white;
    }
  }
}
