.nav-pills-ioh {
  li {
    border-left: 1px solid #fff;
    margin-bottom: 5px;

    @include media-breakpoint-down(sm) {
      padding: 2.5px;
    }
  }

  a {
    color: color(major);
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
      color: #434242;
      font-weight: bold;
    }
  }

  .nav-pills-item {
    border: 1px solid color(major);

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-pills-item-active {
    border: 1px solid color(major);
    background-color: color(major);
    color: white;

    &:hover {
      color: color(major);
      background: white;
    }
  }
}

.nav-talk-show-list {
  font-weight: bold;
  font-size: 12px;
  li {
    border-right: 1px solid white;

    &:last-child {
      border: none;
    }
    a {
      color: white;
      padding: 3px;
    }
  }
}

.nav-pills-light {
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);

  .nav-item {
    border-top: 1px solid #95989a;
    border-right: 1px solid #95989a;

    &:first-child {
      border-left: 1px solid #95989a;
    }

    .nav-link {
      color: #625e61;

      &.nav-link-active {
        &:after {
          content: '';
          display: block;
          height: 2px;
          margin: 0 auto;
          background-color: #ca2026;
        }
      }
    }
  }
}

.nav-sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #434242;
  z-index: 9999;

  .nav-link {
    color: white;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}
