.nav-pills-ioh {
  li {
    border-left: 1px solid #fff;
    margin-bottom: 5px;

    @include media-breakpoint-down(sm) {
      padding: 2.5px;
    }
  }

  a {
    color: color(major);
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-down(sm) {
      color: #434242;
      font-weight: bold;
    }
  }

  .nav-pills-item {
    border: 1px solid color(major);

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-pills-item-active {
    border: 1px solid color(major);
    background-color: color(major);
    color: white;

    &:hover {
      color: color(major);
      background: white;
    }
  }
}

.nav-talk-show-list {
  padding: 3px 0;
  font-weight: bold;
  font-size: 12px;

  .nav-item + .nav-item {
    border-left: 1px solid white;
  }
  li {
    a {
      color: white;
      padding: 0;
    }
  }
}

.nav-pills-light {
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  .nav-item {
    border-top: 1px solid #95989a;
    border-right: 1px solid #95989a;

    &:first-child {
      border-left: 1px solid #95989a;
    }

    .nav-link {
      color: #625e61;

      &.nav-link-active {
        &:after {
          content: '';
          display: block;
          height: 2px;
          margin: 0 auto;
          background-color: #ca2026;
        }
      }
    }
  }
}

.nav-sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 12px;
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }
}

.nav-sticky-footer-dark {
  background-color: #434242;
  height: 31px;
  padding: 6px 0;

  .nav-item + .nav-item {
    border-left: 1px solid #95989a;
  }

  .nav-link {
    color: white;
    font-weight: bold;
    text-align: center;
  }
}

.nav-sticky-footer-light {
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  height: 62px;
  padding: 10px 0;
  background-color: white;

  .nav-item + .nav-item {
    border-left: 1px solid #95989a;
  }

  .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #434242;
  }
}

.nav-tabs-major {
  display: flex;
  margin: 15px 0;
  border: 0;

  .nav-item {
    flex: 1;
    background-color: #95989a;
    margin: 0 5px;
    border-radius: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      text-align: center;
      color: white;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }

      &.active {
        background-color: #ca2026;
      }
    }
  }
}
