/**
 * Background
 */
.bg-darker {
  background-color: #333;
}
.bg-lightgray {
  background-color: #f0f0f0;
}

/**
 * Link
 */
.link-brand {
  display: inline-block;
  padding: 14px 16px;

  &:hover {
    background-color: black;
  }
}
