/**
 * Background
 */
.bg-darker {
  background-color: #333;
}
.bg-lightgray {
  background-color: #f0f0f0;
}

.bg-gray-100 {
  background-color: #f7f7f7;
}

.bg-solidgray {
  background-color: #fafafa;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/**
 * Link
 */
.link-brand {
  display: inline-block;
  padding: 14px 16px;

  &:hover {
    background-color: black;
  }
}
.link-major {
  color: color(major);

  &:hover {
    color: red;
    text-decoration: none;
  }
}

.link-major-reverse {
  color: black;
  font-size: 14px;
  display: inline-block;

  &:hover {
    color: color(major);
    text-decoration: none;
  }
}

/**
 * Btn
 */
.btn-lightgray {
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-gray-400 {
  background-color: #d0d0d0;
}

.btn-white-outline-major {
  box-sizing: content-box;
  background-color: white;
  border-width: 1px 1px 5px 1px;
  border-radius: 0;
  border-color: transparent;
  color: #666;
  font-size: 14px;

  &.collapsed {
    border-color: transparent;
    color: #666;
  }

  &:hover {
    color: color(major);
  }

  &[aria-expanded='true'] {
    border-color: color(major);
    color: color(major);
  }
}

/**
 * head
 */
.head-danger {
  margin-top: 10px;
  font-size: 17.5px;
  font-weight: bold;

  a {
    color: color(major);

    &:hover {
      color: color(major);
    }
  }
}

.head-sm-major {
  color: color(major);
  font-size: 12px;
}

.head-pills {
  background-color: #cf0007;
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0 22.5px 22.5px 0;
  height: 45px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  min-width: 170px;
}

/**
 * spacing
 */
@each $spacing in (5, 10, 15, 20, 30, 40, 50, 60) {
  .mt-#{$spacing}px {
    margin-top: #{$spacing}px !important;
  }

  .mb-#{$spacing}px {
    margin-bottom: #{$spacing}px !important;
  }

  .mr-#{$spacing}px {
    margin-right: #{$spacing}px !important;
  }

  .ml-#{$spacing}px {
    margin-left: #{$spacing}px !important;
  }

  .mx-#{$spacing}px {
    margin-left: #{$spacing}px !important;
    margin-right: #{$spacing}px !important;
  }

  .my-#{$spacing}px {
    margin-top: #{$spacing}px !important;
    margin-bottom: #{$spacing}px !important;
  }

  .pt-#{$spacing}px {
    padding-top: #{$spacing}px !important;
  }

  .pb-#{$spacing}px {
    padding-bottom: #{$spacing}px !important;
  }

  .pr-#{$spacing}px {
    padding-right: #{$spacing}px !important;
  }

  .pl-#{$spacing}px {
    padding-left: #{$spacing}px !important;
  }

  .px-#{$spacing}px {
    padding-left: #{$spacing}px !important;
    padding-right: #{$spacing}px !important;
  }

  .py-#{$spacing}px {
    padding-top: #{$spacing}px !important;
    padding-bottom: #{$spacing}px !important;
  }
}

.youtube-rwd-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-rwd-container iframe,
.youtube-rwd-container object,
.youtube-rwd-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
