$colors: (
  major: #c33838,
  black: #333333,
);

$pagination-color: #666666;
$pagination-border-width: 0;
$pagination-hover-bg: transparent;
$pagination-hover-color: #c33838;
$pagination-active-color: #c33838;
$pagination-active-bg: transparent;
