@import "variables";
@import "helpers/functions";
@import "bootstrap";
@import "utils";
@import "header";
@import "footer";
@import "navbar";
@import "nav";
@import "image";
@import "grid";
@import "banner";
@import "swiper";
@import "block/lecturers";
@import "block/teams";
@import "block/talks";
@import "block/news";
@import "block/sidebar-list";
@import "block/events";
@import "block/articles";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 14px;
}

main {
  flex: 1;
}
